<div class="sidebar">
  <!-- Home link -->
  <a *ngIf="isMenuVisible('home')" routerLink="/dashboard/overview" (click)="onMenuSelect('home')" 
     [class.active]="selectedMenu === 'home'">
    <i class="fas fa-home"></i> Home
  </a>
  
  <!-- Onboarding menu -->
  <a *ngIf="isMenuVisible('onboarding')" routerLink="/dashboard/onboarding" (click)="onMenuSelect('onboarding')" 
     [class.active]="selectedMenu === 'onboarding'">
    <i class="fas fa-user-plus"></i> Onboarding
  </a>

   <a *ngIf="isMenuVisible('updateleave')" routerLink="/dashboard/updateleave" (click)="onMenuSelect('updateleave')" 
     [class.active]="selectedMenu === 'updateleave'">
    <i class="fas fa-user-plus"></i> updateleave
  </a>

   <a *ngIf="isMenuVisible('Project History')" routerLink="/dashboard/project" (click)="onMenuSelect('project')" 
     [class.active]="selectedMenu === 'project'">
    <i class="fas fa-cogs"></i>Project History
  </a>
  
  <!-- Attendance menu -->
  <a *ngIf="isMenuVisible('attendance')" routerLink="/dashboard/attendance" (click)="onMenuSelect('attendance')" 
     [class.active]="selectedMenu === 'attendance'">
    <i class="fas fa-calendar-check"></i> Attendance
  </a>
  
  <!-- Leave Tracker menu -->
 <a *ngIf="isMenuVisible('leave-summary')" routerLink="/dashboard/leave-summary" (click)="onMenuSelect('leave-summary')" 
   [class.active]="selectedMenu === 'leave-summary'">
  <i class="fas fa-user-minus"></i> Leave Tracker
</a>
  
  <!-- Tasks menu -->
  <!-- <a *ngIf="isMenuVisible('tasks')" routerLink="/dashboard" (click)="onMenuSelect('tasks')" 
     [class.active]="selectedMenu === 'tasks'">
    <i class="fas fa-tasks"></i> Tasks
  </a> -->

  <!-- Operations menu -->
  <!-- <a *ngIf="isMenuVisible('settings')" routerLink="/dashboard/operations" (click)="onMenuSelect('settings')" 
     [class.active]="selectedMenu === 'settings'">
    <i class="fas fa-cogs"></i> Operations
  </a> -->

  <!-- Analytics menu -->
  <!-- <a *ngIf="isMenuVisible('report')" routerLink="/dashboard/report" (click)="onMenuSelect('report')" 
     [class.active]="selectedMenu === 'report'">
    <i class="fas fa-chart-line"></i> Report's
  </a> -->

  <!-- <a *ngIf="isMenuVisible('travel')" routerLink="/dashboard/travel" (click)="onMenuSelect('travel')" 
   [class.active]="selectedMenu === 'travel'">
  <i class="fas fa-plane-departure"></i> Travel
</a> -->

<!-- <a *ngIf="isMenuVisible('timesheet')" routerLink="/dashboard/timesheet" (click)="onMenuSelect('timesheet')" 
   [class.active]="selectedMenu === 'timesheet'">
  <i class="fas fa-clock"></i> Timesheet
</a> -->

</div>
