<div class="header">
  <nav>
    <!-- Conditionally show these based on the current menu selection -->
    <!-- <a *ngIf="selectedMenu === 'home'" routerLink="/dashboard/overview" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Overview</a>
    <a *ngIf="selectedMenu === 'home'" routerLink="/dashboard/widgets" routerLinkActive="active">Dashboard</a>
    <a *ngIf="selectedMenu === 'home'" routerLink="/dashboard/calendar" routerLinkActive="active">Calendar</a> -->

    <a *ngIf="selectedMenu === 'onboarding'" routerLink="/dashboard/onboarding" routerLinkActive="active">Candidate</a>
    <a *ngIf="selectedMenu === 'onboarding'" routerLink="/dashboard/EmpDetails" routerLinkActive="active">Employee List</a>
    <!-- Show attendance-specific menus when 'attendance' is selected -->
    <a *ngIf="selectedMenu === 'attendance'" routerLink="/dashboard/attendance" routerLinkActive="active">Attendance Summary</a>
    <a *ngIf="selectedMenu === 'attendance'" routerLink="/dashboard/timesheet" routerLinkActive="active">TimeSheet</a>
    <a *ngIf="selectedMenu === 'attendance' && isAdmin" routerLink="/dashboard/attendanceAll" routerLinkActive="active">Employee Attendance Summary</a>
    <a *ngIf="selectedMenu === 'attendance'"  routerLink="/dashboard/attendanceApproval" routerLinkActive="active">Attendance Approval</a>
    <a *ngIf="selectedMenu === 'attendance' && isManager" routerLink="/dashboard/payrollAdjustment" routerLinkActive="active">LOP/Allowance</a>
    
    <!-- Show tasks-related links when 'tasks' is selected -->
    <a *ngIf="selectedMenu === 'tasks'" routerLink="/tasks" routerLinkActive="active">Tasks</a>
    <!-- Show tasks-related links when 'leave tracker -->
    <a *ngIf="selectedMenu === 'leave-summary'" routerLink="/dashboard/leave-summary" routerLinkActive="active">Leave Summary</a>
    <!-- <a *ngIf="selectedMenu === 'leave-summary'" routerLink="/dashboard/leave-balance" routerLinkActive="active">Leave Balance</a> -->
    <a *ngIf="selectedMenu === 'leave-summary'" routerLink="/dashboard/leave-request" routerLinkActive="active">Leave Request</a>
    <!-- Show settings-related links when 'settings' is selected -->
    <a *ngIf="selectedMenu === 'settings'" routerLink="/dashboard/operations" routerLinkActive="active">Settings</a>
    <a *ngIf="selectedMenu === 'settings'" routerLink="/analytics" routerLinkActive="active">Analytics</a>
  </nav>
</div>
