<form (ngSubmit)="resetPassword()">
    <label for="employeeId">Employee ID:</label>
    <input 
        type="text" 
        id="employeeId" 
        [(ngModel)]="resetData.employeeId" 
        name="employeeId" 
        placeholder="Enter Employee ID" 
        required 
    />

    <label for="oldPassword">Old Password:</label>
    <input 
        type="password" 
        id="oldPassword" 
        [(ngModel)]="resetData.oldPassword" 
        name="oldPassword" 
        placeholder="Enter Old Password" 
        required 
    />

    <label for="newPassword">New Password:</label>
    <div class="password-input-container">
        <input 
            type="{{ passwordVisible ? 'text' : 'password' }}" 
            id="newPassword" 
            [(ngModel)]="resetData.newPassword" 
            name="newPassword" 
            placeholder="Enter New Password" 
            required 
        />
        <i 
            class="fa" 
            [ngClass]="passwordVisible ? 'fa-eye' : 'fa-eye-slash'" 
            (click)="togglePasswordVisibility()">
        </i>
    </div>

    <button type="submit" [disabled]="isLoading">Reset Password</button>
    <div *ngIf="isLoading" class="loading">
        <div class="loading-spinner"></div>
    </div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
</form>
