<body>
    <div class="container">
        <div class="header">
            <div class="back-button">&#8592;</div>
            <h1>Add User(s)</h1>
        </div>
        <div class="steps">
            <div class="step">
                <div class="circle">1</div>
                <div>Create User Account</div>
            </div>
           
            <div class="step active">
                <div class="circle">2</div>
                <div>Trigger Onboarding</div>
            </div>
        </div>
        <div class="content">
        
            <div class="note">
                Onboarding Process successfully initiated
            </div>
        </div>
        <div class="submit-btn">
            <!-- Finish button to trigger the logic -->
            <button (click)="finish()">Finish</button>
        </div>
    </div>
</body>