<div class="container">
    <!-- User Information Section -->
    <div class="user-info">
      <div class="avatar"></div>
      <div class="user-details">
        <p>10009 - <strong>Admin 1</strong></p>
        <p>Role: <strong>Admin</strong></p>
      </div>
    </div>
  
    <!-- Search Bar -->
    <div class="search-bar">
      <input type="text" placeholder="Search Operations" />
    </div>
  
    <!-- Operations Section -->
    <div class="operations">
      <div class="header">
        <h2>Operations</h2>
        <a href="#">View all</a>
      </div>
      <p class="description">
        Initiate and manage crucial HR processes, and add and manage employee-related data
      </p>
  
      <!-- Operations List -->
      <div class="butten">
        <a  routerLink="/dashboard/add-emp" class="operation-item">
          <div class="icon approvals"></div>
          <p>Employee Information</p>
        </a>


      <a href="leave-tracker.html" class="operation-item">
        <div class="icon approvals"></div>
        <p>Leave Tracker</p>
      </a>
      <a href="approvals.html" class="operation-item">
        <div class="icon approvals"></div>
        <p>Approvals</p>
      </a>

      <a href="approvals.html" class="operation-item">
        <div class="icon approvals"></div>
        <p>Data Administration</p>
      </a>

      <a href="approvals.html" class="operation-item">
        <div class="icon approvals"></div>
        <p>Assessment</p>
      </a>
      </div>
    </div>
  </div>
  
